@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

/* Use The layer base! Prevents issues with applying margins inline styles not working */
@layer base{ *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}
@theme {

  /* Fonts */
  --font-body: "Inter", sans-serif;

  /* Theme Colors - Change Colors Here with different color codes */
  /* Tan*/
  --color-background-base: #F1EDE3; 

  /* main body text */
  --color-dark-text: #1B150E; 

  /* Dark */
  --color-background-dark: #282315;
  --color-dark-border: #1B150E; 
 
  /* blues */
  --color-primary-base: #12BFCE;
  --color-primary-base-2: #64D1E4;
  --color-primary-base-3: #B5E2FA;
  --drop-shadow-primary: 0px 5px 1px #18BFCC;
  --drop-shadow-cardv1: -12px 10px 1px #64D1E4;

  /* orange */
  --color-secondary-base: #F86624;
  --color-secondary-base-2: #F8834B;
  --color-secondary-base-3: #F7A072;
  --drop-shadow-secondary: 0px 5px 1px #F76725;
  --drop-shadow-cardv2: -12px 10px 1px #F8834C;

  /* Additional Custom Breakpoints for smaller mobile sizes */
  --breakpoint-xxs: 20rem; /* 320px */
  --breakpoint-xs: 30rem; /* 480px */
}

.svg {
  @apply
    w-full
}
.social-link-icon{
  @apply
  md:w-7 sm:w-5 xxs:w-3
}
.user p, .login-signup p{
  @apply
  sm:text-xl xxs:text-xs
}
.logoImage{
  @apply
  xxs:pt-2 
  xxs:pb-3
  lg:w-60 md:w-40 sm:w-50 xxs:w-30
  xl:mr-0 lg:mr-10 md:mr-5
}
/* menu area */
.nav-area{
  @apply
  xl:justify-evenly md:justify-center
  md:items-center
  md:flex-row xxs:flex-col
  md:py-4
  xxs:border-b-3 border-background-dark
}
/* Buttons (orange and blue btns) */
.primary-btn, .secondary-btn{
  @apply
  py-1 px-5
  font-body
  lg:rounded-3xl md:rounded-2xl
  border-2 border-dark-border
  cursor-pointer
}
.primary-btn{
  @apply
  bg-primary-base-2 
  drop-shadow-primary
}
.secondary-btn{
  @apply
  bg-secondary-base-3 
  drop-shadow-secondary
}
/* mobile version of nav area */
.mobile-menu-view{
  @apply
  flex flex-col
  text-left
  xxs:mx-10
  xxs:py-10
}
.mobile-menu-view div{
  @apply
  flex flex-col
  xxs:space-y-2
  xxs:pt-5
}
.mobile-menu-view button{
  /* removes previous btn style for mobile */
  @apply
  border-none
  drop-shadow-none
  bg-transparent
  py-0 px-0
  sm:text-2xl xxs:text-xl
}
.mobile-menu-view p{
  @apply
  border-b-2 border-dark-border
  xxs:pb-5
  xxs:tracking-[8]
  xxs:text-2xl
  xxs:w-full
}

/* footer links  */ 
.social-link-footer-icon{
  @apply
  md:w-6 sm:w-6 xs:w-5 xxs:w-4
}

/* about us page */
.aboutus-text{
  @apply
  text-2xl
}
.cardProfileImage{
  @apply
  w-50 
  h-50 
  rounded-full border-2 
  absolute z-10 
  bg-cover
}
.cardProfileImage.cardRightProfile{
  @apply
  top-[-100] right-[-100] 
  drop-shadow-cardv2
}
.cardProfileImage.cardLeftProfile{
  @apply
  top-[-100] left-[-100]
  drop-shadow-cardv1
}
.founderCard{
  @apply
  border-1 
  rounded-[50px] 
  pt-15 pb-10 px-8 
  w-lg bg-white
}
.founderCard.cardv1{
  @apply
  drop-shadow-cardv2 
}
.founderCard.cardv2{
  @apply
  drop-shadow-cardv1
}